extends layout

block content
  div.jumbotron
    div.container
      h1= title
      p Welcome to #{title}
      p
        a(href="#" class="btn btn-primary btn-lg")= "Lets do it"
  div.container
    div.row
      div.col-md-4
        h2= "Heading"
        p
        | Donec id elit non mi porta gravida at eget metus. 
        | Fusce dapibus, tellus ac cursus commodo, tortor 
        | mauris condimentum nibh, ut fermentum massa justo 
        | sit amet risus. Etiam porta sem malesuada magna 
        | mollis euismod. Donec sed odio du
      div.col-md-4
        h2= "Heading"
        p
        | Donec id elit non mi porta gravida at eget metus. 
        | Fusce dapibus, tellus ac cursus commodo, tortor 
        | mauris condimentum nibh, ut fermentum massa justo 
        | sit amet risus. Etiam porta sem malesuada magna 
        | mollis euismod. Donec sed odio du
    footer
      p test texts
